body{
	margin: 0; 
	padding: 0;
}
#board{
	float: left;
}
.holder{
	width: 180px;
	float: left;
}
.holder span, .holder ul{
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.holder span{
	text-align: center;
}
#inventory li, #craftingTable li{
	width: 50px;
	height: 15px;
	background: #eee;
	color: #fff;
	margin: 5px;
	padding-top: 35px;
	float: left;
	list-style-type: none;
	text-align: center;
}
#inventory li.selected, #craftingTable li.selected{
	width: 48px;
	height: 14px;
	padding-top: 34px;
	border: 1px solid red;
}